/* Footer */
.text {
  font-weight: 300 !important;
}

.footer {
  padding-top: 5rem;
}

.footer-menu {
  padding-left: 10% !important;
  width: 80%;
  margin: 0 1rem !important;
}

.footer-menu a {
    color: white !important;
}
/* header */ 
.r-margin {
  margin: 0 1rem !important;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem !important;
}

.social {
  padding: 0.5em !important;
  background-color: #979797 !important;
}
.social > .icon {
  font-size: 1.2rem !important;
  color: white !important;
}
.social:hover {
  background-color: #cccccc !important;
}

/* article homepage */
.spotlight {
  font-size: 4rem !important;
  font-weight: lighter !important;
}

.underline {
  border-top: 4px solid !important;
  border-bottom: 0;
}

.lightHeader {
  font-weight: lighter !important;
}

.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  background: #FFF;
  padding: 0;
  border: none;
  -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
}

.card > .content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em 1em 0;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}
.card > .content > .meta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.header {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2857em;
  color: rgba(0, 0, 0, 0.85);
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  display: block;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.header:hover {
  color: rgba(0, 0, 0, 0.25);
}

.description {
  margin-top: 1.5em;
  clear: both;
  color: rgba(0, 0, 0, 0.68);
  font-size: 1em;
  font-weight: 300;
}

.image {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border-top: none !important;
}

.image > img {
  display: block;
  width: 100%;
  height: auto;
}

.imgOneCloumn {
  height: 300px !important;
  object-fit: cover;
}

.custom-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;
}