/* Footer */
.text {
  font-weight: 300 !important;
}

.footer {
  padding-top: 5rem;
}

.footer-menu {
  padding-left: 10% !important;
  width: 80%;
  margin: 0 1rem !important;
}

.footer-menu a {
    color: white !important;
}
/* header */ 
.r-margin {
  margin: 0 1rem !important;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem !important;
}

.social {
  padding: 0.5em !important;
  background-color: #979797 !important;
}
.social > .icon {
  font-size: 1.2rem !important;
  color: white !important;
}
.social:hover {
  background-color: #cccccc !important;
}

/* article homepage */
.spotlight {
  font-size: 4rem !important;
  font-weight: lighter !important;
}

.underline {
  border-top: 4px solid !important;
  border-bottom: 0;
}

.lightHeader {
  font-weight: lighter !important;
}