.text {
  font-weight: 300 !important;
}

.divided {
  border-left: 1px solid rgba(255, 255, 255,.85) !important;
}

.footer {
  padding-top: 5rem;
}

.footer-menu {
  padding-left: 10% !important;
  width: 80%;
  margin: 0 1rem !important;
}

.footer-menu a {
    color: white !important;
}
